.about_title{
    font-size: 50px;
}

.about_title_top{
    padding-top: 30px;
}

.side_img{
    padding-top: 30px;
}

.service_title{
    font-size: 50px;
}

.service_title_top{
    padding-top: 60px;
}

.info_numb{
	padding-top: 60px;
	padding-bottom: 60px;
	background: #55407d;
}

.info_value{
	color: #ffffff;
}

.info_object{
	color: #ffffff;
}

.contact_us{
	padding-top: 40px;
	padding-bottom: 50px;

}

.test{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.service_title{
	margin-bottom: 0px !important;
}