.SecondRow{
	padding-top: 15px;
}

.buttonTest{
	margin-top: 43px;
}

.rowform{
	justify-content: center;
}

.SecondRow{
	justify-content: center;
}

.Searchbar{
	max-width: 1000px;
	padding-top: 20px;
	align-self: center;
}