.img-container{
	max-height: 500px;
	padding-top: 20px;
}

.listing_container{
	background-color: #e9f0f6;
}

.row{
	margin: auto;
	text-align: center;
}

.col{
	padding-top: 20px;
	padding-bottom: 20px;
}