.card-horizontal {
 	display: flex;
  	flex: 1 1;
}

.houseimg {
	max-height: 332px;
	max-width: 332px;
}

.card {
	margin-top: 20px;
	margin-bottom: 20px;
}

.houseimg:hover{
	opacity: 0.4;
	transition: .5s ease;
}

.col {
	margin: 2px;
}

.btn {
	margin-top: 13%;
}