.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 300px;
}

.flex-container > .flex-item {
  justify-content: space-between;
  padding-left: 10px;
  flex: auto;
  display: flex;
}

