.card-horizontal {
  display: flex;
  flex: 1 1;
}

.houseimg {
	max-height: 300px;
	max-width: 300px;
}

.card {
	margin-top: 20px;
	margin-bottom: 20px;
}

.houseimg:hover{
	opacity: 0.3;
	transition: .5s ease;
}
